.DS_Store
product
uuid-switch/uuid-switch.xcodeproj/xcuserdata
uuid-switch/uuid-switch.xcodeproj/project.xcworkspace/xcuserdata
uuid-switch/uuid-switch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
